body {
  margin: 0px;
  background-image: url(../Images/102_505602339.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 100vh;
}

.navbar{
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
}

h1 {
  margin: auto;
  margin-top: 25px;
  color: black;
  font-size: 4em;
  font-family: "chinese_takeawayregular", Arial, sans-serif;
}

.header-button {
  display: flex;
  margin-top: 25px;
  justify-content: space-evenly;
}






footer{
  background-color: black;
  color: white;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container{
  text-align: center;
  margin-top: -10px;
}

.footer-schedules{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -30px;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}


@font-face {
  font-family: "chinese_takeawayregular";
  src: url("../Images/fonts/chinesetakeaway-webfont.woff2") format("woff2"),
    url("../Images/fonts/chinesetakeaway-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
