body {
  margin: 0px;
  background-image: url(../Images/102_505602339.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  margin: auto;
  margin-top: 25px;
  color: black;
  font-size: 4em;
  font-family: "chinese_takeawayregular", Arial, sans-serif;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  background-color: black;
  color: white;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  text-align: center;
  margin-top: -10px;
}

.footer-schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

@font-face {
  font-family: "chinese_takeawayregular";
  src: url("../Images/fonts/chinesetakeaway-webfont.woff2") format("woff2"), url("../Images/fonts/chinesetakeaway-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
